Include /etc/ssh/ssh_config.d/*.conf

Host *
    PubkeyAuthentication yes
    
    IdentityFile ~/.ssh/ed25519
    
    SendEnv LANG LC_*
    HashKnownHosts yes
    GSSAPIAuthentication yes
    
    StrictHostKeyChecking accept-new  
    ConnectTimeout 30
    ServerAliveInterval 60