- name: Run "apt update"
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade the OS (apt-get dist-upgrade)
  ansible.builtin.apt:
    upgrade: dist
    force_apt_get: yes

- name: Create user account user01
  ansible.builtin.user:
    name: user01
    state: present
    create_home: yes
    shell: /bin/bash